
/*fin descarga como funciona /*/

.buttonformulario {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: bold;
    padding: 5px;

}

ol li {
    font-size: 18px;
}


fieldset {

    margin: 0px 500px 0px 500px;
}


.formulariolabel {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 3px;
    margin: 0px 0px 0px 30px;
    text-align: right;
}

.formulariolabel1 {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 3px;
    margin: 0px 0px 0px 30px;
    text-align: left;

}

.formulariolabel2 {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 7px;
    text-align: left;
}

.faq {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: bold;
    margin-left: 30px;
}

.faqrespuestas {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-left: 60px;

}
